<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script src="/scripts/orderPageFunctions.js"></script>
</head>
<body>
<%- include('./partials/darkModeContainer.ejs') %>
    <%- include('./partials/nav.ejs') %> 

    <% 
        let keyIDs = {} 

        function GenerateUniqueID() {
            return Math.floor(Math.random() * Date.now())
        }
    %> 

    <main>
        <div class="productsRoot">
            <% for (let i = 0, len = Object.keys(locals.products).length; i < len; i++) { %>
                <% const productKind = Object.keys(locals.products)[i]; %> 
                <% const productsInKind = locals.products[productKind]; %> 

                <% const patterns = [...new Set(productsInKind.map((product) => product.pattern))]; %> 

                <div class="productKinds" id="<%= productKind %>Button">
                    <button onclick="ToggleElement('<%= productKind %>')"><%= productKind %></button>

                    <div class="productPatterns" id="<%= productKind %>" style="display: none;">
                        <% patterns.map((pattern) => { %>
                            <button onclick="ToggleElement('<%= pattern %>')"><%- pattern %> </button>

                            <div class="products" id="<%- pattern %>" style="display: none;">
                                <% const productsInPattern = productsInKind.filter((product) => product.pattern === pattern); %> 
                                <% productsInPattern.map((product) => { %>
                                    <% const productUID = product._id.toString(); %> 

                                    <div class="productContainer" id="<%= productUID %>">
                                        <h3><%= product.title %> </h3>
                                        <h4><%= product.description %> </h4>
                                        <img src="<%= product.images[0] %>">
                                        <input id="<%= productUID %>Slider" type="range" min="5" max="40" step="0.5" 
                                            oninput="ShowPriceEstimate(this.value, '<%= productUID %>', '<%= product.estimatedPriceKr %>')" 
                                            onchange="ShowPriceEstimate(this.value, '<%= productUID %>', '<%= product.estimatedPriceKr %>')"
                                            value="20">
                                        <p class="lengthDisplay" id="<%= productUID %>lengthDisplay">-cm</p>
                                        <p class="priceEstimate" >Estimated price: <span id="<%= productUID %>PriceEstimate">-</span>kr</p>
                                        <p class="priceExplained"><%= product.estimatedPriceKr %>kr per cm plus a base price of [...]</p>
                                        <script>ShowPriceEstimate(document.getElementById('<%= productUID %>'+'Slider').value, '<%- productUID %>', '<%- product.estimatedPriceKr %>')</script>
                                        <button onclick="BuyItem('<%= productUID %>', '<%= productUID %>')">Buy</button>
                                    </div>

                                <% }); %>
                            </div>
                        <% }); %> 
                    </div>
                </div>

            <% } %> 
        </div>
    </main>
</div>
</body>
</html>